extend baseEmail

block content
    p Hi #{firstName},
    p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}. Ignore this email if you remember your password and do not wish to reset it.
    p {Webpage for this action is not yet implemented.}
    table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}` target='_blank') Reset password
    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - Jonas Schmedtmann, C